* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
}

body {
  line-height: 1.333;
  font-size: 16px;
  scroll-behavior: smooth;
}

.btn {
  &-user,
  &-basket,
  &-login,
  &-menu {
    @include border-radius-20;

    width: 100%;
    height: 50px;
    padding: 0 15px;
    background-color: $blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;

    @include screen-sm {
      width: auto;
      height: 40px;
      color: $white;
    }

    &::after {
      content: unset;
    }
  }

  @include screen-sm {
    &-basket:hover {
      color: $white;

      &::before{
        opacity: 1;
      }
    }

    &-basket::before {
      @include border-radius-20;

      content:"";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0 0 15px rgba(0, 0, 0, .3);
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &-login:focus {
    color: $white;

    @include screen-sm {
      color: $black;
    }
  }

  &-basket--icon {
    margin-right: 15px;
  }

  &-menu {
    @include screen-sm {
      background-color: transparent;
      color: $black;
    }
  }

   .dropup &-menu::after {
    content: unset;
  }

  &-menu:focus {
    color: $white;

    @include screen-sm {
      color: $black;
    }
  }

  &-user {
    min-width: 160px;
    background: $white;
    color: $black;
  }

  &-user:hover {
    color: $black;
  }
}

.fa-bars {
  color: $white;
}

.bg-white {
  background: $white;
}