* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.333;
  font-size: 16px;
  scroll-behavior: smooth;
}

hr {
  margin: 0;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: none!important;
  appearance: unset;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  flex: 1 0 auto;
}

.btn {
  &-user,
  &-basket,
  &-login,
  &-menu {
    @include border-radius-20;

    width: 100%;
    height: 50px;
    padding: 0 15px;
    background-color: $blue;

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      #safari {
        background-color: $blue;
      }
    }

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;

    @include screen-md {
      width: auto;
      height: 40px;
      color: $white;
    }

    &::after {
      content: unset;
    }
  }

  @include screen-md {
    &-basket:hover {
      color: $white;

      &::before{
        opacity: 1;
      }
    }

    &-basket::before {
      @include border-radius-20;

      content:"";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0 0 15px rgba(0, 0, 0, .3);
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &-login:focus {
    color: $white;

    @include screen-md {
      color: $black;
    }
  }

  &-basket--icon {
    margin-right: 15px;
  }

  &-menu {
    @include screen-md {
      background-color: transparent;
      color: $black;
    }
  }

   .dropup &-menu::after {
    content: unset;
  }

  &-menu:focus {
    color: $white;

    @include screen-md {
      color: $black;
    }
  }

  &-user {
    min-width: 160px;
    background: $white;
    color: $black;
  }

  &-user:hover {
    color: $black;
  }

  &-product {
    height: 40px;
    background-color: darken($blue, 10%);
    border: unset;
    border-radius: unset;
    position: relative;
    color: $white;
    z-index: $zindex2;
  }

  &-product:hover {
    background-color: darken($blue, 10%);
    color: $white;
  }

  &-ending {
    width: 100%;
    padding: 20px 40px;
    margin: 0 0 25px;
    border: 1px solid $blue;

    @include screen-md {
      width: auto;
      margin: 0 15px 0 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  &-ending.full-color {
    background-color: $blue;
    color: $white;
  }

  &-ending.full-color:hover,
  &-ending:hover {
    background-color: darken($blue, 10%);
    color: $white;
  }
}

.fa-bars {
  color: $white;
}

.bg-white {
  background: $white;
}

.fade.collapsing {
  transition: opacity .15s linear;
}

.card {
  border: none;
}

.product_card,
.additional_card {
  margin: 0;
  cursor: pointer;

  &.checked {
    border-color: $blue;
  }
}