$font-path-noto: "/wypozyczalnia/public_html/fonts/Noto_Sans";
$font-path-oswald: "/wypozyczalnia/public_html/fonts/Oswald/static";

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path-noto}/NotoSans-regular.ttf');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path-noto}/NotoSans-Bold.ttf');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 800;
  src: url('#{$font-path-oswald}/Oswald-Bold.ttf');
}

// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'NotoSans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #47B021;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #a1a1a1;
$gray-shadow: rgba(0, 0, 0, .12);
$background-gray: #F2F2F2;

$zindex1: 1000;
$zindex2: 2000;
$zindex3: 3000;
$zindex4: 4000;
$zindex5: 5000;
$zindex6: 6000;