.MainSection-summary {
  @include margin-bottom-100;

  &--title {
    @include section-title;
  }

  &-header {
    margin: 25px 0 50px;

    @include screen-md {
      margin: 50px 0 75px;
    }
  }

  &-content {
    margin: 0 0 50px;
  }

  &-list {
    padding: 0;
    margin: 0 0 50px;
    list-style: none;
  }

  &-list-item {
    width: 100%;
    padding: 17px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen-md {
      padding: 15px;
      min-height: 83px;
      flex-direction: row;
      justify-content: space-between;
    }

    border-bottom: 1px solid $gray-shadow;
    box-shadow: 0 4px 6px -5px $gray-shadow;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      box-shadow: none;
    }
  }

  &-list-item-header {
    display: none;

    @include screen-md {
      display: flex;
      min-height: auto;
    }
  }
  &-list-cell {
    padding: 0 0 5px;
    display: flex;
    flex-flow: row;

    &:last-child {
      padding: 0;
    }

    @include screen-md {
      padding: 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-list-product,
  &-list-count,
  &-list-days,
  &-list-price,
  &-list-deposit {
    width: 100%;
  }

  &-list-product {
    @include screen-md {
      @include fluid-type( max-width, $md, $xl, 170px, 280px );
    }
  }

  &-list-count,
  &-list-days,
  &-list-price,
  &-list-deposit {
    @include screen-md {
      max-width: 100px;
    }
  }

  &-list-name {
    width: 100%;
    max-width: 150px;
    display: block;

    @include screen-md {
      display: none;
    }
  }

  &-list--product {
    text-transform: uppercase;
  }

  &-list-name-summary,
  &-list-price-summary {
    font-size: 20px;
    font-weight: 600;
  }

  &-form {
    margin: 0 -15px;
    padding: 0 15px 15px 15px;
    background-color: rgba(167, 192, 205, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 15px 15px -14px rgba(0, 0, 0, .12);

    @include screen-md {
      margin: unset;
      padding: 0 15px 15px 15px;
      border-radius: 20px;
    }
  }

  &-form--header {
    margin: 15px 0;
  }

  &-form-rules {
    margin: 30px 0;
  }

  &-form-rule {
    display: block;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-form-control {
    margin-bottom: 15px;
  }
}