.MainSection-thankyou {
  margin: 75px auto;

  @include screen-md {
    margin: 100px auto;
  }

  &-wrapper {
    padding: 25px;
    background: rgba(167, 192, 205, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    box-shadow: 0 15px 15px -14px rgba(0, 0, 0, .12);
  }

  &-wrapper--title {
    @include section-title;
    margin-bottom: 50px;
  }

  &-wrapper--text {
    margin-bottom: 45px;
  }
}