.MainSection-alerts {
  &-alert {
    padding: 25px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-close {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 50%;
    border: 0;
    overflow: hidden;
    position: relative;
  }

  &-close::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #c0d4ba;
    opacity: 0;
    transition: opacity .1s;
    z-index: $zindex1;
  }

  &-close:hover::after {
    opacity: 1;
  }

  &-icon {
    position: relative;
    z-index: $zindex2;
  }
}